In [3]:
# 주석 사용하기
x = 1  # 여기서 =(등호) 기호는 수학의 같다는 의미와는 다르다.
       # . . . 우측 변의 리터럴을 좌측 변의 변수에 대입한다는 의미다.
    
text = "# 이것은 주석이 아닙니다. 따옴표 안은 문자열 리터럴입니다."

In [4]:
print(x)

1

In [5]:
print(text)

# 이것은 주석이 아닙니다. 따옴표 안은 문자열 리터럴입니다.

In [8]:
print("Hello, world!")
print("Hello, world!")
print("Python Programming")

Hello, world!
Hello, world!
Python Programming

In [10]:
x = 13+(22-3)*4
print(x)

89

In [14]:
x = 13+((22-3)*4)/5
print(x)

28.2

In [17]:
print(int(0.2467*12+4.159))

7

In [23]:
print("가장","시끄러운","층은","=",int(0.2467*12+4.159),"층")

가장 시끄러운 층은 = 7 층

In [24]:
Z = 12
T = 0.2467*Z + 4.159
print(int(T))
print("가장 시끄러운 층은 =", int(T), "층입니다.")

7
가장 시끄러운 층은 = 7 층입니다.

In [25]:
Y = input("숫자를 입력하세요:")
U = 0.2467*int(Y) + 4.159
print(int(U))

숫자를 입력하세요: 12

7

In [26]:
print("냉장고 가격은", 53000*24, "원", "입니다.")

냉장고 가격은 1272000 원 입니다.

In [27]:
refrig_price = 53000*24
print("냉장고 가격은", refrig_price, "원", "입니다.")

냉장고 가격은 1272000 원 입니다.

In [42]:
people = 250
price = 20000*3*people
tax = price*0.1
total = int(price+tax)
print("총 지불해야 할 금액은", total, "원", "입니다.")

총 지불해야 할 금액은 16500000 원 입니다.

In [40]:
people = 250
cost = 20000*3*people
tax = cost*0.1
total = int(cost+tax)
print("총 지불 해야 할 금액은", total,"원 입니다.")

총 지불 해야 할 금액은 16500000 원 입니다.

In [43]:
0b10001

17

In [44]:
0b10110

22

In [45]:
bin(17)

'0b10001'

In [46]:
bin(22)

'0b10110'

In [47]:
0o21

17

In [48]:
0o26

22

In [49]:
oct(17)

'0o21'

In [50]:
oct(22)

'0o26'

In [51]:
0x1f

31

In [52]:
AP = 380
distortion = AP*0.6+225
print(distortion)

453.0

In [53]:
# a 변수 선언 후 숫자 리터럴 10 값을 할당
a = 10

# a 변수 값에 20을 더한 결과를 다시 a에 할당
a = a+20

print(a)

30

In [54]:
# a 변수 삭제 후 a 변수를 출력해보기
del a
print(a)

NameError: name 'a' is not defined

In [55]:
a=10
# 변수 a에 20 값을 더하고 할당하지 않았을 때
a+20
print(a) #10

a+=10 # a = a+10 과 같ㄷ다
print(a)

10
20

In [56]:
a = None
print(a)

None

In [60]:
print("\"안녕?\"이라는 그 인사를 듣고 나는 \'누구지?\'라고 생각했다.")

"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.