In [3]:
import pandas as pd

In [11]:
# 천만 영화 역대 관객수 순위

data = {
    "영화명": ["명량", "극한직업", "신과함께-죄와 벌", "국제시장", "어벤져스:엔드게임"],
    "개봉일": ["2014-07-30", "2019-01-23", "2017-12-20", "2014-12-17", "2019-04-24"],
    "관객수": [17_613_682, 16_264_806, 14_410_754, 14_257_115, 13_933_635],
    "순위": [1, 2, 3, 4, 5]
}

index = [1, 2, 3, 4, 5]
df = pd.DataFrame(data, index)
df.index.name = "순위"
df

          영화명         개봉일       관객수  순위
순위
1          명량  2014-07-30  17613682   1
2        극한직업  2019-01-23  16264806   2
3   신과함께-죄와 벌  2017-12-20  14410754   3
4        국제시장  2014-12-17  14257115   4
5   어벤져스:엔드게임  2019-04-24  13933635   5

In [ ]:
df.T