In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import json
import folium

In [2]:
font_dir = ['C:/python/fonts']
for font in mpl.font_manager.findSystemFonts(fontpaths=font_dir):
    mpl.font_manager.fontManager.addfont(font)
    # print(mpl.font_manager.FontProperties(fname=font).get_name())

In [3]:
mpl.rcParams['font.family'] = 'NanumBarunGothicOTF'
print(mpl.rcParams['font.family'])

['NanumBarunGothicOTF']

In [4]:
mpl.rc('axes', unicode_minus=False)

In [5]:
%matplotlib inline

In [11]:
crime = pd.read_csv("C:/python/datas/crime.csv")
crime

,Unnamed: 0,자치구별(1),지역,발생 합계,검거 합계,살인 발생,살인 검거,강도 발생,강도 검거,강간·강제추행 발생,강간·강제추행 검거,절도 발생,절도 검거,폭력 발생,폭력 검거
0,0,자치구별(1),자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,1,자치구별(1),자치구별(2),소계,소계,살인,살인,강도,강도,강간·강제추행,강간·강제추행,절도,절도,폭력,폭력
2,2,자치구별(1),자치구별(2),발생,검거,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
3,3,합계,소계,80445,58012,124,112,122,116,4911,4446,33531,17950,41757,35388
4,4,합계,종로구,2712,2755,6,3,4,4,156,757,1079,743,1467,1248
5,5,합계,중구,2861,2072,6,6,6,6,161,97,1279,739,1409,1224
6,6,합계,용산구,2381,1659,3,2,1,1,141,103,945,484,1291,1069
7,7,합계,성동구,2112,1510,3,4,4,1,110,82,905,497,1090,926
8,8,합계,광진구,3087,2202,5,3,4,4,208,161,1414,754,1456,1280
9,9,합계,동대문구,2959,2113,3,4,7,8,169,147,1240,659,1540,1295
10,10,합계,중랑구,3210,2405,4,4,6,7,141,117,1399,835,1660,1442
11,11,합계,성북구,2411,1787,4,3,2,2,118,88,895,474,1392,1220
12,12,합계,강북구,2301,1912,4,4,1,1,136,115,777,537,1383,1255
13,13,합계,도봉구,1860,1294,2,2,2,1,72,64,772,376,1012,851
14,14,합계,노원구,3425,2302,6,6,3,3,156,126,1361,654,1899,1513
15,15,합계,은평구,3244,2423,4,5,3,3,166,133,1424,825,1647,1457
16,16,합계,서대문구,2278,1594,3,3,2,2,137,120,1027,562,1109,907
17,17,합계,마포구,3540,2379,4,3,4,4,321,275,1510,730,1701,1367
18,18,합계,양천구,3015,2085,1,1,3,3,116,92,1349,700,1546,1289
19,19,합계,강서구,3896,3044,9,7,3,3,246,188,1540,921,2098,1925
20,20,합계,구로구,3486,2431,5,5,2,1,182,118,1390,770,1907,1537
21,21,합계,금천구,2439,1741,7,6,3,4,134,103,1013,520,1282,1108
22,22,합계,영등포구,4179,2777,8,8,11,11,279,196,1712,831,2169,1731
23,23,합계,동작구,2631,1829,2,3,1,1,180,94,1129,675,1319,1056
24,24,합계,관악구,4444,3134,8,4,7,6,321,269,1860,929,2248,1926
25,25,합계,서초구,3656,2439,9,9,5,5,312,228,1503,691,1827,1506
26,26,합계,강남구,6146,4397,12,11,25,23,578,454,2372,1160,3159,2749
27,27,합계,송파구,4714,3266,3,3,7,6,247,216,2024,995,2433,2046
28,28,합계,강동구,3458,2462,3,3,6,6,124,103,1612,889,1713,1461

In [12]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  29 non-null     int64
 1   자치구별(1)     29 non-null     object
 2   지역          29 non-null     object
 3   발생 합계       29 non-null     object
 4   검거 합계       29 non-null     object
 5   살인 발생       29 non-null     object
 6   살인 검거       29 non-null     object
 7   강도 발생       29 non-null     object
 8   강도 검거       29 non-null     object
 9   강간·강제추행 발생  29 non-null     object
 10  강간·강제추행 검거  29 non-null     object
 11  절도 발생       29 non-null     object
 12  절도 검거       29 non-null     object
 13  폭력 발생       29 non-null     object
 14  폭력 검거       29 non-null     object
dtypes: int64(1), object(14)
memory usage: 3.5+ KB