In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import json
import folium

In [2]:
font_dir = ['C:/python/fonts']
for font in mpl.font_manager.findSystemFonts(fontpaths=font_dir):
    mpl.font_manager.fontManager.addfont(font)
    # print(mpl.font_manager.FontProperties(fname=font).get_name())

In [3]:
mpl.rcParams['font.family'] = 'NanumBarunGothicOTF'
print(mpl.rcParams['font.family'])

['NanumBarunGothicOTF']

In [4]:
mpl.rc('axes', unicode_minus=False)

In [5]:
%matplotlib inline

In [18]:
# 데이터 읽기
crime_raw_data = pd.read_csv(
    "C:/python/datas/crime_in_Seoul.csv", thousands=',',
)
# null 데이터 삭제
crime_raw_data = crime_raw_data[crime_raw_data['죄종'].notnull()]
# 데이터 확인
crime_raw_data

     구분     죄종 발생검거    건수
0    중부     살인   발생     4
1    중부     살인   검거     4
2    중부     강도   발생     3
3    중부     강도   검거     3
4    중부  강간,추행   발생   109
..   ..    ...  ...   ...
305  수서  강간,추행   검거   129
306  수서     절도   발생   855
307  수서     절도   검거   423
308  수서     폭력   발생  1198
309  수서     폭력   검거  1050

[310 rows x 4 columns]

In [19]:
crime_station = crime_raw_data.pivot_table(
    crime_raw_data, 
    index=['구분'], 
    columns=['죄종', '발생검거'], 
    aggfunc=[np.sum]
)
crime_station.head()

     sum                                                                 \
      건수
죄종    강간      강간,추행           강도         살인          절도              폭력
발생검거  검거  발생     검거     발생    검거    발생   검거   발생     검거      발생      검거
구분
강남   NaN NaN  325.0  428.0  11.0  13.0  6.0  8.0  737.0  1517.0  1699.0
강동   NaN NaN  103.0  124.0   6.0   6.0  3.0  3.0  889.0  1612.0  1461.0
강북   NaN NaN  115.0  136.0   1.0   1.0  4.0  4.0  537.0   777.0  1255.0
강서   NaN NaN  188.0  246.0   3.0   3.0  7.0  9.0  921.0  1540.0  1925.0
관악   NaN NaN  269.0  321.0   6.0   7.0  4.0  8.0  929.0  1860.0  1926.0



죄종
발생검거      발생
구분
강남    1961.0
강동    1713.0
강북    1383.0
강서    2098.0
관악    2248.0

In [20]:
crime_station.columns = crime_station.columns.droplevel([0, 1])
crime_station.head()

죄종    강간      강간,추행           강도         살인          절도              폭력  \
발생검거  검거  발생     검거     발생    검거    발생   검거   발생     검거      발생      검거
구분
강남   NaN NaN  325.0  428.0  11.0  13.0  6.0  8.0  737.0  1517.0  1699.0
강동   NaN NaN  103.0  124.0   6.0   6.0  3.0  3.0  889.0  1612.0  1461.0
강북   NaN NaN  115.0  136.0   1.0   1.0  4.0  4.0  537.0   777.0  1255.0
강서   NaN NaN  188.0  246.0   3.0   3.0  7.0  9.0  921.0  1540.0  1925.0
관악   NaN NaN  269.0  321.0   6.0   7.0  4.0  8.0  929.0  1860.0  1926.0

죄종
발생검거      발생
구분
강남    1961.0
강동    1713.0
강북    1383.0
강서    2098.0
관악    2248.0