In [1]:
import pandas as pd
import numpy as np

In [2]:
# Series의 값이 많은 경우

# 500개의 값을 갖는 시리즈 생성
# ㆍㆍㆍ이란 표시는 생략되었다는 의미

nums = pd.Series(range(500))
nums

0        0
1        1
2        2
3        3
4        4
      ...
495    495
496    496
497    497
498    498
499    499
Length: 500, dtype: int64

In [3]:
# Series head() 메서드 
# head() 메서드는 앞부터 출력할 데이터의 개수 지정
# 디폴트는 5개

nums.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [4]:
# 괄호 안에 숫자를 넣어서 출력할 데이터 개수 지정 가능

nums.head(10)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [5]:
# Series tail() 메서드
# 맨 뒤에서부터 출력할 데이터의 개수를 지정
# 디폴트는 5개

nums.tail(10)

490    490
491    491
492    492
493    493
494    494
495    495
496    496
497    497
498    498
499    499
dtype: int64

In [6]:
# np.nan의 데이터는 float 자료형이기 때문에 dtype이 float

nums = pd.Series([1, 2, np.nan, 4, 5])
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [7]:
# nunique() 메서드
# 고유한 값의 개수를 계산

hello = pd.Series(list("hello"))
print(hello)

hello.nunique()

0    h
1    e
2    l
3    l
4    o
dtype: object

4

In [8]:
# count() 메서드
# 데이터의 개수를 계산
# nan인 값에 대해서는 개수에 포함시키지 않음

nums.count()

4

In [9]:
# len()은 전체 길이를 알려줌

len(nums)

5

In [10]:
# sum() 메서드
# Series에 있는 데이터를 모두 더함
# skipna 파라미터의 기본 값이 True -> 결측치를 포함하지 않고 계산
# 인수로 skipna의 값을 False로 전달하면 결측값을 포함한 계산 결과 나옴

nums.sum()

12.0

In [11]:
nums.sum(skipna = False)

nan

In [12]:
# mean(): 평균
# median(): 중앙값
# std(): 표준편차

nums.mean()

3.0

In [13]:
nums.median()

3.0

In [14]:
nums.std()

1.8257418583505538

In [15]:
# max() 메서드: Series에서 가장 큰 값을 구함 
# min() 메서드: Series에서 가장 작은 값을 구함

nums.max()

5.0

In [16]:
nums.min()

1.0

In [17]:
# Series의 값이 문자인 경우
# ord() 함수는 하나의 문자를 Unicode 숫자로 변경

somechar = pd.Series(list("AaBbCc"))
somechar.max()

'c'

In [18]:
somechar.min()

'A'

In [21]:
ord('a')    # 아스키 코드와 동일

97

In [20]:
ord('A')

65

In [25]:
# describe() 메서드
# count, mean, std, min, 25%, median(50%), 75%, max

nums.describe()

count    4.000000
mean     3.000000
std      1.825742
min      1.000000
25%      1.750000
50%      3.000000
75%      4.250000
max      5.000000
dtype: float64

In [27]:
# 데이터 수 count
# 고유한 값의 수 unique
# 최빈 값 top -> l
# 최빈 값의 빈도 freq

hello.describe()

count     5
unique    4
top       l
freq      2
dtype: object

In [28]:
# list 객체로 변경

list(nums)

[1.0, 2.0, nan, 4.0, 5.0]

In [29]:
# 딕셔너리 자료형으로 변경

dict(nums)

{0: 1.0, 1: 2.0, 2: nan, 3: 4.0, 4: 5.0}

In [31]:
# 두 시퀀스 자료형이 주어졌을 때
# superheros를 index로하고 strength_levels을 data로 하는 Series를 생성

superheros = [
 "Batman",
 "Superman",
 "Spider-Man",
 "Iron Man",
 "Captain America",
 "Wonder Woman"
]
strength_levels = (100, 120, 90, 95, 110, 120)

heros = pd.Series(strength_levels, index = superheros)
heros

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [32]:
heros.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [33]:
heros.nunique()

5

In [40]:
heros.mean(), heros.median(), heros.max(), heros.min()

(105.83333333333333, 105.0, 120, 90)

In [42]:
dict(heros)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}