In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl

In [2]:
font_dir = ['C:/python/fonts']
for font in mpl.font_manager.findSystemFonts(fontpaths=font_dir):
    mpl.font_manager.fontManager.addfont(font)
    # print(mpl.font_manager.FontProperties(fname=font).get_name())

In [3]:
mpl.rcParams['font.family'] = 'NanumBarunGothicOTF'
print(mpl.rcParams['font.family'])

['NanumBarunGothicOTF']

In [4]:
mpl.rc('axes', unicode_minus=False)

In [5]:
%matplotlib inline

In [6]:
df = pd.read_csv('C:/python/datas/public_bicycle.csv')
df

       자치구                            대여소명    기준년월      대여건수      반납건수
0      강남구                2301. 현대고등학교 건너편  202207    2,170     2,183
1      강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  202207    1,140     1,143
2      강남구                 2303. 논현역 10번출구  202207    1,329     1,196
3      강남구                    2304. 대현그린타워  202207      288       104
4      강남구              2305. MCM 본사 직영점 앞  202207      334       342
...    ...                             ...     ...       ...       ...
16014  중랑구                 4836. 양원역 1번 출구  202212      341       336
16015  중랑구              4837. 양원지구 힐데스하임 앞  202212      292       291
16016  중랑구             4838.동원사거리 행복오피스텔 앞  202212      301       227
16017  중랑구                4840. 서울시 북부병원 앞  202212      177       196
16018  중랑구                    4841. 중화수경공원  202212      225       233

[16019 rows x 5 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16019 entries, 0 to 16018
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     16019 non-null  object
 1   대여소명    16019 non-null  object
 2   기준년월    16019 non-null  int64
 3   대여건수    16019 non-null  object
 4   반납건수    16019 non-null  object
dtypes: int64(1), object(4)
memory usage: 625.9+ KB

In [27]:
df['대여소명'].astype(str).str[0:4].astype('f').astype('i')

0        2301
1        2302
2        2303
3        2304
4        2305
         ...
16014    4836
16015    4837
16016    4838
16017    4840
16018    4841
Name: 대여소명, Length: 16019, dtype: int32

In [32]:
df_2['대여소_ID'].astype(str).str[3:].astype('f').astype('i')

0        999
1        998
2        997
3        996
4        995
        ...
3203    1002
3204    1001
3205    1000
3206     100
3207      10
Name: 대여소_ID, Length: 3208, dtype: int32

In [10]:
df_2 = pd.read_csv('C:/python/datas/bicycle_place.csv')
df_2

       대여소_ID                     주소1              주소2         위도          경도
0      ST-999      서울특별시 양천구 목동서로 280    목동아파트 8단지 상가동   0.000000    0.000000
1      ST-998      서울특별시 양천구 목동서로 130    목동아파트 4단지 상가동   0.000000    0.000000
2      ST-997      서울특별시 양천구 목동중앙로 49    목동3단지 시내버스정류장  37.534390  126.869598
3      ST-996  서울특별시 양천구 남부순환로88길5-16       양강중학교앞 교차로  37.524334  126.850548
4      ST-995    서울특별시 양천구 신정동 621-14  계남공원 입구 주출입구 좌측  37.510681  126.857399
...       ...                     ...              ...        ...         ...
3203  ST-1002    서울특별시 양천구 목동동로 316-6     서울시 도로환경관리센터  37.529900  126.876541
3204  ST-1001     서울특별시 양천구 남부순환로4길20          서서울호수공원   0.000000    0.000000
3205  ST-1000       서울특별시 양천구 신정동 236      서부식자재마트 건너편  37.510380  126.866798
3206   ST-100      서울특별시 광진구 아차산로 262      더샵스타시티 C동 앞  37.536667  127.073593
3207    ST-10        서울특별시 마포구 양화로 93              427  37.552746  126.918617

[3208 rows x 5 columns]