In [10]:
import numpy as np
import pandas as pd
import random

In [62]:
df = pd.read_csv('C:/python/datas/teams.csv')
team = df.sample(28)
team['team'] = [_ for _ in range(1, 8) for i in range(1, 5)]
team.to_csv('team_result.csv', index=False)

In [63]:
pd.read_csv('team_result.csv')

     성명 성별  team
0   이유단  여     1
1   강호정  남     1
2   유승현  남     1
3   조재희  남     1
4   이주현  여     2
5   유준선  남     2
6   한혜원  여     2
7   유예빈  여     2
8   김지성  남     3
9   노재승  남     3
10  조세연  남     3
11  채경민  남     3
12  윤영주  여     4
13  박수현  여     4
14  임혜신  여     4
15  이윤진  여     4
16  김정인  여     5
17  이주현  남     5
18  정현호  남     5
19  유영은  여     5
20  고유리  여     6
21  장서현  여     6
22  박기영  남     6
23  김지오  여     6
24  최진명  남     7
25  배선화  여     7
26  강예림  여     7
27  서덕원  남     7