In [9]:
# 입력받은 정수를 10씩 더해서 반환하는 함수

def plus_ten(num):
    """입력받은 정수를 10씩 더해서 반환하는 함수입니다."""
    return num+10    # return과 print는 다름, print는 반환값이 없음

In [8]:
print(plus_ten(70))

80

In [3]:
# 화씨 온도를 섭씨 온도로 변경하는 함수

def to_celsius(fahrenheit):
    """화씨 온도를 섭씨 온도로 변경하는 함수입니다."""
    return (fahrenheit-32)*(5/9)

print(to_celsius(70))

21.11111111111111

In [22]:
# number가 짝수면 "짝수", 홀수면 "홀수" 반환하는 함수

def odd_even(num):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(num) != int:
        return None      # return -> None
    elif num<=0:
        return None
    elif num%2 == 0:  
        return "짝수"    # return 값 -> 값 자체를 함수 호출한 곳으로 가져간다.
    elif num%2 != 0:
        return "홀수"
    
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [24]:
# 강사님 풀이

def odd_even(num):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(num) is int and num>0:
        return "짝수" * (num%2 == 0) or "홀수"    # num%2 == 0 => True == 1, False == 0
    else:
        return
    
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [36]:
# .isdecimal()

number = input("숫자를 입력하세요.")

def to_int(number):
    if number.isdecimal():
        return int(number)
    return

print(to_int(number))

숫자를 입력하세요. 7.6

None

In [51]:
# 윤년과 평년을 구분하는 함수

def check_leap_year(year):
    """윤년과 평년을 구분하는 함수입니다."""
    if year%4 == 0 and (year%100 != 0 or year%400 == 0):
        return "윤년"
    else:
        return "평년"
    
print(check_leap_year(2004))
print(check_leap_year(2000))
print(check_leap_year(1900))

윤년
윤년
평년

In [52]:
# 한 줄로 표현하기

def leap_year(year):
    return '평년'*(year%4!=0 or (year%100==0 and year%400!=0)) or '윤년'

print(check_leap_year(2004))
print(check_leap_year(2000))
print(check_leap_year(1900))

윤년
윤년
평년

In [55]:
# 월을 나타내는 숫자를 인수로 전달하면 그 달의 날짜 개수를 반환하는 함수

def days(days):
    """해당 달의 날짜 개수를 반환하는 함수입니다."""
    if days in (1, 3, 5, 7, 8, 10, 12):
        return 31
    elif days in (4, 6, 9, 11):
        return 30
    elif days == 2:
        return 28

print(days(11))
print(days(2))
print(days(1))

30
28
31

In [3]:
# 간단하게 코드 짜보기

def days(m):
    d30 = [4, 6, 9, 11]
    if m==2:
        return 28
    elif m in d30:
        return 30
    return 31

print(days(11))
print(days(2))
print(days(1))

30
28
31

In [9]:
# 연도를 나타내는 숫자와 월을 나타내는 숫자를 인수 값으로 각각 전달
# 그 달의 날짜 개수를 반환하는 함수

def days(year,month):
    """해당 달의 날짜 개수를 반환하는 함수입니다."""
    if month in (1, 3, 5, 7, 8, 10, 12):
        return 31
    elif month  in (4, 6, 9, 11):
        return 30
    elif year%4 == 0 and (year%100 != 0 or year%400 == 0) and month == 2:
        return 29
    else:
        return 28
    
print(days(1900, 11))
print(days(2004, 10))
print(days(1900, 2))
print(days(2000, 2))

30
31
28
29

In [12]:
# 다른 풀이

def days(y, m):
    d30 = [4, 6, 9, 11]
    if m==2:
        return 28*(y%4!=0 or (y%100==0 and y%400!=0)) or 29
    elif m in d30:
        return 30
    return 31

print(days(1900, 11))
print(days(2004, 10))
print(days(1900, 2))
print(days(2000, 2))

30
31
28
29